html {
background: #c2b280;
}

body{
margin: 40px;
padding: 40px;
color: #000080;
}

h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 3em;
}

h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
font-size: medium;
}

.blogpost{
border-bottom: 2px dotted #000080;
border-top: 2px dotted #000080;
}

.image{
float: right;
margin-right: 5px;
}

#about{
line-break: auto;
}

.sidebar{
position: sticky;
top: 0;
}